{"openapi":"3.0.1","info":{"title":"DBAASP API","version":"4.0.1"},"servers":[{"url":"https://dbaasp.org"}],"paths":{"/peptides":{"get":{"tags":["peptide-api-controller"],"operationId":"getPeptides","parameters":[{"name":"uniprot.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"targetObject.value","in":"query","required":false,"schema":{"type":"array","items":{"type":"object"}}},{"name":"targetGroup.value","in":"query","required":false,"schema":{"type":"array","items":{"type":"object"}}},{"name":"targetSpecies.value","in":"query","required":false,"schema":{"type":"array","items":{"type":"object"}}},{"name":"antibiofilmActivities.value","in":"query","required":false,"schema":{"type":"array","items":{"type":"object"}}},{"name":"nonstandardExperimentalCondition.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"hemolyticAndCytotoxicActivitie.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"articleAuthor.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"articleJournal.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"articleYear.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"articleVolume.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"articlePages.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"articleTitle.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"id.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"name.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"sequence.option","in":"query","required":false,"schema":{"type":"string","enum":["part","full"]}},{"name":"sequence.length","in":"query","required":false,"schema":{"type":"string"}},{"name":"sequence.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"sequenceLength.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"synthesisType.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"nTerminus.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"cTerminus.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"unusualAminoAcid.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"intraChainBond.cycleType","in":"query","required":false,"schema":{"type":"string"}},{"name":"intraChainBond.chainParticipating","in":"query","required":false,"schema":{"type":"string"}},{"name":"intraChainBond.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"interChainBond.chainParticipating","in":"query","required":false,"schema":{"type":"string"}},{"name":"interChainBond.participatingInCycle","in":"query","required":false,"schema":{"type":"string"}},{"name":"interChainBond.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"coordinationBond.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"kingdom.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"source.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"complexity.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"synergy.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"threeDStructure.value","in":"query","required":false,"schema":{"type":"string","enum":["without_structure","pdb","md_model","pdb_md_model"]}},{"name":"pubchem.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"pubchemId.value","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResultView"}}}}}}},"/peptides/{peptideId}":{"get":{"tags":["peptide-api-controller"],"operationId":"getPeptides_1","parameters":[{"name":"peptideId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeptideView"}}}}}}}},"components":{"schemas":{"SearchResultItemView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"dbaaspId":{"type":"string"},"name":{"type":"string"},"getnTerminus":{"type":"string"},"sequence":{"type":"string"},"sequenceLength":{"type":"integer","format":"int32"},"pdb":{"type":"string"},"pubchemCid":{"type":"string"},"getcTerminus":{"type":"string"},"activity":{"type":"number","format":"float"},"complexity":{"type":"string","enum":["monomer","multimer","multi_peptide"]},"monomers":{"type":"array","items":{"$ref":"#/components/schemas/SearchResultItemView"}},"synthesisType":{"type":"string"}}},"SearchResultView":{"type":"object","properties":{"totalCount":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SearchResultItemView"}}}},"AntibiofilmActivityView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"targetSpecies":{"$ref":"#/components/schemas/MixedView"},"activityMeasureGroup":{"$ref":"#/components/schemas/MixedView"},"activityMeasureValue":{"type":"string"},"concentration":{"type":"string"},"unit":{"$ref":"#/components/schemas/MixedView"},"medium":{"$ref":"#/components/schemas/MixedView"},"cfu":{"type":"string"},"cfuGroup":{"$ref":"#/components/schemas/MixedView"},"note":{"type":"string"},"reference":{"type":"string"},"peptideId":{"type":"integer","format":"int32"}}},"ArticleView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"journal":{"$ref":"#/components/schemas/MixedView"},"year":{"type":"integer","format":"int32"},"volume":{"type":"string"},"pages":{"type":"string"},"title":{"type":"string"},"additional":{"type":"string"},"pubmed":{"$ref":"#/components/schemas/PubmedView"},"authors":{"type":"array","items":{"$ref":"#/components/schemas/MixedView"}}}},"CoordinationBondView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"peptideId":{"type":"integer","format":"int32"},"metalIons":{"type":"string"},"positionOfAa":{"type":"integer","format":"int32"},"group":{"type":"string"},"reference":{"type":"string"},"bondNumber":{"type":"integer","format":"int32"}}},"HemoliticCytotoxicActivityView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"peptideId":{"type":"integer","format":"int32"},"targetCell":{"$ref":"#/components/schemas/MixedView"},"activityMeasureForLysisGroup":{"$ref":"#/components/schemas/MixedView"},"activityMeasureForLysisValue":{"type":"string"},"concentration":{"type":"string"},"unit":{"$ref":"#/components/schemas/MixedView"},"ph":{"type":"string"},"ionicStrength":{"type":"string"},"saltType":{"type":"string"},"note":{"type":"string"},"reference":{"type":"string"},"activity":{"type":"number","format":"float"}}},"InterChainBondChainParticipatingView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"InterChainBondTypeView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"InterchainBondView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"chain1":{"type":"integer","format":"int32"},"chain2":{"type":"integer","format":"int32"},"chain3":{"type":"integer","format":"int32"},"chain4":{"type":"integer","format":"int32"},"note":{"type":"string"},"type":{"$ref":"#/components/schemas/InterChainBondTypeView"},"chainParticipating":{"$ref":"#/components/schemas/InterChainBondChainParticipatingView"},"participatingInCycle":{"type":"string"}}},"IntraChainBondChainParticipatingView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"IntraChainBondCycleTypeView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"intraChainBondTypeId":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"IntraChainBondTypeView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"IntrachainBondView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"position1":{"type":"integer","format":"int32"},"position2":{"type":"integer","format":"int32"},"type":{"$ref":"#/components/schemas/IntraChainBondTypeView"},"cycleType":{"$ref":"#/components/schemas/IntraChainBondCycleTypeView"},"chainParticipating":{"$ref":"#/components/schemas/IntraChainBondChainParticipatingView"},"note":{"type":"string"}}},"MixedView":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"NameValuePair":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}},"OPMView":{"type":"object","properties":{"name":{"type":"string"},"opmUrl":{"type":"string"}}},"PDBView":{"type":"object","properties":{"name":{"type":"string"},"pdbUrl":{"type":"string"},"pdbFileUrl":{"type":"string"}}},"PeptideView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"dbaaspId":{"type":"string"},"name":{"type":"string"},"majorName":{"type":"string"},"sequence":{"type":"string"},"sequenceLength":{"type":"integer","format":"int32"},"getnTerminus":{"$ref":"#/components/schemas/MixedView"},"getcTerminus":{"$ref":"#/components/schemas/MixedView"},"synthesisType":{"$ref":"#/components/schemas/MixedView"},"complexity":{"$ref":"#/components/schemas/MixedView"},"pdbs":{"type":"array","items":{"$ref":"#/components/schemas/PDBView"}},"pubChem":{"$ref":"#/components/schemas/PubChemView"},"noteReference":{"type":"string"},"url":{"type":"string"},"structureModel":{"$ref":"#/components/schemas/StructureModelView"},"targetGroups":{"type":"array","items":{"$ref":"#/components/schemas/MixedView"}},"targetObjects":{"type":"array","items":{"$ref":"#/components/schemas/MixedView"}},"physicoChemicalProperties":{"type":"array","items":{"$ref":"#/components/schemas/NameValuePair"}},"monomers":{"type":"array","items":{"$ref":"#/components/schemas/PeptideView"}},"sourceGenes":{"type":"array","items":{"$ref":"#/components/schemas/SourceGeneView"}},"intrachainBonds":{"type":"array","items":{"$ref":"#/components/schemas/IntrachainBondView"}},"interchainBonds":{"type":"array","items":{"$ref":"#/components/schemas/InterchainBondView"}},"coordinationBonds":{"type":"array","items":{"$ref":"#/components/schemas/CoordinationBondView"}},"unusualAminoAcids":{"type":"array","items":{"$ref":"#/components/schemas/UnusualAminoAcidView"}},"targetActivities":{"type":"array","items":{"$ref":"#/components/schemas/TargetActivityView"}},"antibiofilmActivities":{"type":"array","items":{"$ref":"#/components/schemas/AntibiofilmActivityView"}},"uniprots":{"type":"array","items":{"$ref":"#/components/schemas/UniprotView"}},"hemoliticCytotoxicActivities":{"type":"array","items":{"$ref":"#/components/schemas/HemoliticCytotoxicActivityView"}},"articles":{"type":"array","items":{"$ref":"#/components/schemas/ArticleView"}},"synergies":{"type":"array","items":{"$ref":"#/components/schemas/SynergyView"}},"smiles":{"type":"array","items":{"$ref":"#/components/schemas/SmilesView"}},"opms":{"type":"array","items":{"$ref":"#/components/schemas/OPMView"}}}},"PubChemView":{"type":"object","properties":{"cid":{"type":"string"},"cidUrl":{"type":"string"}}},"PubmedView":{"type":"object","properties":{"pubmedId":{"type":"string"},"pubmedUrl":{"type":"string"}}},"SmilesView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"smiles":{"type":"string"},"smilesImageUrl":{"type":"string"},"description":{"type":"string"},"manuallyEdited":{"type":"boolean"},"pubChemCid":{"type":"string"},"pubChemCidUrl":{"type":"string"},"lastUpdatedAt":{"type":"string","format":"date-time"}}},"SourceGeneView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"kingdom":{"$ref":"#/components/schemas/MixedView"},"source":{"type":"string"},"subkingdom":{"type":"string"},"plasmid":{"type":"string"},"gene":{"type":"string"},"chromLoc":{"type":"string"},"orientation":{"$ref":"#/components/schemas/MixedView"},"geneInSequence":{"$ref":"#/components/schemas/MixedView"},"locus":{"type":"string"},"note":{"type":"string"},"dblink":{"$ref":"#/components/schemas/UrlValue"}}},"StructureModelView":{"type":"object","properties":{"representativeStructure":{"type":"string"},"selfConsistency":{"type":"string"},"secondaryStructure":{"type":"string"},"trajectoryDCD":{"type":"string"},"trajectoryPSF":{"type":"string"},"trajectoryWithWaterDCD":{"type":"string"},"trajectoryWithWaterPSF":{"type":"string"},"protocolId":{"type":"integer","format":"int32"},"protocolDescription":{"type":"string"}}},"SynergyView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"targetSpecie":{"$ref":"#/components/schemas/MixedView"},"activityMeasureGroup":{"$ref":"#/components/schemas/MixedView"},"unit":{"$ref":"#/components/schemas/MixedView"},"peptideId":{"type":"integer","format":"int32"},"antibioticId":{"type":"integer","format":"int32"},"antibioticName":{"type":"string"},"peptideActivity":{"type":"string"},"peptideAntibioticActivity":{"type":"string"},"antibioticActivity":{"type":"string"},"antibioticPeptideActivity":{"type":"string"},"fici":{"type":"string"},"reference":{"type":"string"}}},"TargetActivityView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"peptideId":{"type":"integer","format":"int32"},"targetSpecies":{"$ref":"#/components/schemas/MixedView"},"activityMeasureGroup":{"$ref":"#/components/schemas/MixedView"},"activityMeasureValue":{"type":"string"},"concentration":{"type":"string"},"unit":{"$ref":"#/components/schemas/MixedView"},"ph":{"type":"string"},"ionicStrength":{"type":"string"},"saltType":{"type":"string"},"medium":{"$ref":"#/components/schemas/MixedView"},"cfu":{"type":"string"},"cfuGroup":{"$ref":"#/components/schemas/MixedView"},"note":{"type":"string"},"reference":{"type":"string"},"activity":{"type":"number","format":"float"}}},"UniprotView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"uniprotId":{"type":"string"},"description":{"type":"string"},"proPeptide":{"$ref":"#/components/schemas/MixedView"},"uniprotUrl":{"type":"string"}}},"UnusualAminoAcidView":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"position":{"type":"integer","format":"int32"},"modificationType":{"$ref":"#/components/schemas/MixedView"},"beforeModification":{"type":"string"},"note":{"type":"string"}}},"UrlValue":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"}}}}}}